# Node
node_modules/
bun.lockb

# Build
/dist
/build
/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Emscripten
emsdk/
emscripten_cache.bzl

# Bazel
bazel-out/
*.bazelrc

# Docker
*.pid
*.seed
*.pid.lock

# Misc
*.log
*.tmp
*.bak
*.swp
*.lock

# Secure Bridge
server/public/
client/public/

# OpenFHE
openfhe-development/build/
openfhe-development/benchmark/
openfhe-development/test/
openfhe-development/third-party/
openfhe-development/.cache/
openfhe-development/.cmake/
openfhe-development/.vscode/
openfhe-development/.idea/
openfhe-development/.DS_Store
openfhe-development/Thumbs.db
